a i.fa-edit {
    font-size: 18px;
}

a i.fa-trash {
    color: #d73925;
    font-size: 18px;
}

a:hover i.fa-trash,
a:active i.fa-trash,
a:focus i.fa-trash {
    outline: none;
    text-decoration: none;
    color: #f3685c
}

.table-hover {
    font-size: 16px;
}